# Игнорирование папки .idea, специфичной для IntelliJ IDEA
.idea/

# Игнорирование файлов компиляции Java
*.class

# Игнорирование пакетных файлов (выведенных из исходников)
target/
out/

# Игнорирование файлов сборки Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Игнорирование файлов журналов
*.log

# Игнорирование артефактов сборки
*.war
*.ear

# Игнорирование системных файлов
.DS_Store
Thumbs.db

# Игнорирование файлов с настройками редакторов
*.iml
*.ipr
*.iws
